@import '../../styles/variables';

.section#test3 {

  .background {
    #background_test3 {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #eee;
    }
    #test3_canvas_bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .content {
    .test_question {
      color: #333;
      font-size: 2rem;
      font-weight: 900;
      width: 100%;
      text-align:center;
    }
    .test_answers_container {
    	overflow: hidden;
    	width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      background-color: rgba($white, 0.8);
      padding: 20px;

      .test_answers {
        .test_answer_container {
          .test_radio_container {
            position: relative;

            input[type='radio'] {
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer;
            }

            input[type='radio']+label {
              &:before {
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                content: ' ';
                background-color: $pink;
                width: 18px;
                height: 18px;
                border-radius: 50%;
              }
            }

            input[type='radio']:checked+label {
              &:after {
                content: ' ';
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 18px/2-8px/2;
                bottom: 0;
                margin: auto;
                background-color: $white;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                box-shadow: 1px 1px 2px 0 rgba($pink, 0.35) inset, 1px 1px 1px 1px rgba($white, 0.25);
              }
            }

            label {
              padding: 0;
              margin: 0;
              padding-left: 10px;
              padding-right: 10px;

              min-height: 20px;
              line-height: 20px;
              margin-left: 20px;

              border-radius: 10px;
              color: #444;
            }
          }
        }

        .test_answer_desc {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          padding: 25px;
          padding-left: 200px;
          padding-right: 50px;
          padding-bottom: 100px;
          text-align: center;

          box-shadow: 1px 2px 7px rgba(#000, 0.15);
      background-color: rgba($white, 0.7);

          color: #444;
          font-size: 1.3rem;

          opacity: 0;
          transform: translate3d(0, 100%, 0);
          transition: transform 0.5s ease-in, opacity 0.5s ease-in;

          &.show {
            opacity: 1;
            transform: translate3d(0, 0%, 0);
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: -50px;
            left: 50px;
            width: 100px;
            height: 100px;
            border-radius: 50%;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 60%;

            box-shadow: 1px 2px 7px rgba(#000, 0.15);
          }

          &.correct {
            &:before {
              background-color: $pink;
              background-image: url('correct.svg');
            }
          }
          &.wrong {
            &:before {
              background-color: $yellow;
              background-image: url('wrong.svg');
            }
          }
        }
      }
    }
  }
}