@import 'variables';

@media screen and (orientation:portrait), screen and (max-width:1024px), screen and (max-height:768px)  { 
	#small_screen_overlay {
  	display: flex !important;  
	}
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

* {
  box-sizing: border-box;
}

#small_screen_overlay {

  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

	color: #555;
  background-color: #222;
  z-index: 1999;

	display: none;
  
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;

	div {
		width: 50%;
		text-align:center;
	}

  img {
		opacity: 0.1;
  	margin-bottom: 50px;
  	width: 120px;
  	height: 120px;
  }
}

body {
  font-family: 'Roboto', apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: $white;
}

#body_wrapper {
  box-shadow: 0 0 15px 0 #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#body_container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;

  background-color: #eee;
}

#section_selectors {
  position: fixed;

  z-index: 1000;

  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  .selector {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    pointer-events: auto;
    cursor: pointer;

    .bullet {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(#000, 0.4);

      transition: transform 0.2s ease-in;
      transform-origin: 50% 50%;
      transform: scale3d(0.5, 0.5, 1.0);
    }

    &.selected {
      cursor: default;

      .bullet {
        transition: transform 0.275s ease-out;
        transform: scale3d(1.0, 1.0, 1.0);
      }
    }
  }
}

.greytext {
	color: $grey;
}

.pinktext {
  color: $pink;
}

.bluetext {
  color: $blue;
}

.purpletext {
  color: $purple;
}

.yellowtext {
  color: $yellow;
}

.bold {
	font-weight: 700;
}

.extrabold {
  font-weight: 900;
}

.bigtitle {
  font-size: 6rem;
  color: rgba($white, 1);
}

.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.nonfull {
    min-height: 0;
  }
  
  .background,
  .background:before,
  .background:after,
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .background {
    z-index: 1;
  }
  
  .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .animation_spinner {
    position: absolute;
    z-index: 900;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    text-align: center;
    pointer-events: none;

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .bounce3 {
      -webkit-animation-delay: -0s;
      animation-delay: -0s;
    }

    >div {
      width: 15px;
      height: 15px;
      background-color: #000;
      opacity: 0.5;

      border-radius: 100%;
      display: inline-block;      

      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
  }

  .nextpage_container {
    z-index: 1500;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    cursor: pointer;

    &:hover {
      .shadow {
        opacity: 1;

        transition: opacity 0.5s ease-in-out;
      }
      .button {
        opacity: 0.6;
        transition: opacity 0.25s ease-out;
      }
    }

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;

      background: linear-gradient(rgba(#000, 0), rgba(#000, 0.2));
      opacity: 0;
      transition: opacity 0.7s ease-in-out;
    }

    .button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;

      opacity: 0.2;
      transition: opacity 0.35s ease-in;

      background-image: url(../images/nextpage_button.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 50%;
    }
  }
}